body    {background-color: #f2f2f2;}

h1        {color: rgb(29, 29, 29) ; }


.first-title    {color: rgb(255, 0, 0);  font-size: 25px;font-family: system-ui,
     -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}


.second-title   {color: rgb(0, 0, 0); font-size: clamp(1.5rem,  4vw,  3rem);} 



body {font-family:"Vazir";

      background-color: #f2f2f2; line-height: 1.6;}

      .product{padding: 20px; width: 250px; box-sizing: border-box;} 
      
      .product{margin: 20px;} 
      
      .product{border: 5px solid black;}
      
      .product {border-radius: 20px;}


      .product{background-color: yellow; display: inline-block; ,min-height: 450px;} 
      
      .product img{width: 150px; height: 138px;}


      .product button{padding: 10px  20px; margin-top: 10px; border-radius: 15px;font-size: 30px;

     border: 5px solid black;}



     .mahsool{display: flex;  gap: 20px; justify-content: flex-start;}



     @media {max-width: 600px;} 
     
     .mahsool{flex-direction: column; align-items: flex-start;}



     .product button:hover{background-color: blue; }
     


     .product button:hover a{color: white;}


     .product{box-shadow:  0  4px 10px gray; transition: transform 0.5s ease;}


     header{border: 8px solid black; display:inline-block; font-size:
           larger; font-family: system-ui, -apple-system, BlinkMacSystemFont, 
          'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif; border-radius: 20px; color: black;
     background-color: white;}
     
     
     
     
     header{padding: 25px; auto; text-align: center;}



     nav {background-color: rgb(255, 255, 255); padding: 15px; text-align: left;} 
     
     
     nav a{color: rgb(56, 56, 56); text-decoration: none;
     margin: 0 15px;} 
     
     
     .home { display: inline-block; border-radius: 8px; font-size: 30px; transition:transform 0.5s ease;} 



     .bike { display: inline-block; border-radius: 8px; font-size: 30px; transition:transform 0.5s ease;} 



     .contact-us{ display: inline-block; border-radius: 8px; font-size: 30px; transition:transform 0.5s ease;} 



     
     
     
     .bike:hover{transform: scale(1.03);}
     
     .home:hover{transform: scale(1.03);} 


     .contact-us:hover{transform: scale(1.03);}


     p {font-size: 23px;}
     
     .mahsool  h2{font-size: 30px; margin-bottom: 10px;} 
     
     ol{font-size: 25px;}


     .mahsool{box-sizing: border-box; width: 100%; max-width: 1100px;
          
          margin: 20px auto; display: inline-block;

     flex-wrap:wrap;gap: 20px; justify-content:center;
     
     align-items:flex-start; flex-direction:column;}




     @media{max-width:768px ;}
     
     {.product{width: 90%;} } 


     .jadval{border-collapse: collapse;} 
     
     .jadval th {padding: 8px 15px;border: 3px solid black;}


     .jadval th{background-color: red;} 
     
     .jadval td {padding: 8px 15px; border: 3px solid black;
          
     background-color: white;}


     .product img{background-color: white; border: 3px solid black; border-radius: 10px;}



      .product button a {cursor: pointer;} 
      
      .jadval tr{cursor: default;}
      
      .jadval {box-shadow: 0 4px 8px gray;} 


      .product img{box-shadow: 0 4px 8px gray;} 
      
      .product button{box-shadow: 0 4px 8px gray;} 
      
     .contact-us{ font-size: 30px; transition:transform 0.5s ease;} 


     
     .product img{width: 150px; height: 150px; object-fit: cover; transition:transform 0.3s ease;} 
          
          
          .product img:hover{transform: scale(1.05);}



          .product{overflow: hidden;}
          
          .product button{background: linear-gradient( to left rgb(47, 0, 255),rgb(255, 255, 255));}



          .product button a{text-decoration: none;}
          
          .product h2{letter-spacing: 1px;} 
          
          
          .product h2 {text-shadow: 2px 2px 4px gray;}


 h2 {text-shadow: 2px 2px 4px gray;}
 
 h3{text-shadow: 2px 2px 4px gray;}


          p{text-shadow: 2px 2px 4px gray;} 
          
          title{text-shadow: 2px 2px 4px gray;} 


          .new{position: absolute;border: 2px solid black; border-radius: 10px;background-color: white;}


           .new{cursor: default;}


          .product{padding: 30px;} 
          
          .product{width: auto; position: relative;} 


          .menu{background-color: rgb(15, 15, 15);} 
          
          .menu{color: wheat;}


          .menu a{color:rgb(255, 255, 255) ;} 
          
          .asli{font-family: system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

               font-size:larger;
                background-color: black;
                 color: white;} 
                 
                 .asli{color: #f2f2f2;}


               .asli h1{color: white; text-align: center; height: 100px;

               position: relative;}
               
               .asli h4{text-align: center;

               transform: translateY(-30px);}


               .asli h1::after{content: "";display: block;
                    
                    width: 0px;     height: 3px;


                    background-color: white;
                    
                    left: 50%; 
                    
                    position:absolute;      bottom: 20px;


                    transform: translateX(-50%);
                    
                    transition: width 0.6s ease;} 
                    
                    .asli h1:hover::after{width: 350px;} 
                    
                    .asli h1{cursor: default;}      .asli h4{cursor: default;}


                    .mahsool{display: grid; grid-template-columns:repeat(2, 1fr);row-gap: 100px; column-gap: 50px;}
               


                         {.product{grid-template-columns: 1fr;}}

                         
                         .mahsool:first-child{grid-column: span 2;}

                          
                     @font-face { font-family: "Vazir"; src: url("./fonts/Vazir.woff2") format("woff2");}



                     .product{font-family: "Vazir" , sans-serif;}



                    .second-title::after{content: ""; display: block; width: 300px; height: 3px; margin: auto;
                          background-color: rgb(117, 31, 31); transform: translateY(-10px);}



                         .second-title{text-align:center; height: 100px; cursor: default;}

                         p a {text-decoration:none ;}

                         h3 a{text-decoration: none; transition: 0.3s ease;}

                         
                         footer::after{content: ""; display: block; width: 600px;


                              height: 5px; margin: auto; background-color: black; transform: translateY(-15px);}


                              footer h1{text-align: center;  cursor: default; font-weight: bold; color: black;}


                              input,textarea{margin: 0; padding: 0;} 
                              
                              :root{--main-color:rgb(117,31,31)} h2{color: var(--main-color);}


                              :root{--secondry-color:black}  

                              .product h2{color: var(--secondry-color);} 



                              .product{width: min(90%,  400px);}


                              .product{width: clamp(300px,  30vw, 400px);}

                              .product h2{font-size:  clamp(1.1rem,  2vw,  1.5rem);}


                              .product img{aspect-ratio: 18 / 9;}

                              .product{min-height: 400px;}
                         
                              *{box-sizing: border-box;} 

                              .product{width: 30vw;   max-width: 90%;}


                              .input:focus{border: 4px solid rgb(0, 0, 0);}

                              button:active{transform: scale(0.9);}

                              a:visited

                              .product:nth-child(2) h3{ display: none;}

                              .product:nth-child(1) h3{display: none;}

                              .product:nth-child(3) h3{display: none;}

                              .product:nth-child(4) h3{display: none;}

                              input[type="submit"]{font-size: 20px; border-radius: 5px; cursor: pointer;}

                              input[type="submit"]:hover{background-color: rgb(206, 206, 206);}

                              input[type="submit"]:active{transform: scale(0.9);}

                              input[type="text"]{border-radius: 5px; border:3px solid black;}

                              textarea[name="massage"] {border: 3px solid black; border-radius: 5px;}

                              label{text-shadow: 2px 2px 2px gray;}

                              ::placeholder{font-size: 20px;}

                              select[name="bike-brand"]{font-size: 25px; border-radius: 5px; border: 3px solid black;}

                              select[name="bike-size"]{font-size: 25px; border-radius: 5px; border: 3px solid black;}

                              fieldset{border: 3px solid black; display: block; width:fit-content; border-radius: 10px;}

                              legend{font-size: 25px;} 

                              fieldset label{font-size: 25px; text-shadow: none;} 

                              select[name="customer-information"]{font-size: 20px; border:2px solid black; border-radius: 5px;}

                              input[type="checkbox"]{width: 22px; height: 22px; appearance: none;
                                    border: 2px solid black; border-radius:20px;}
 
                              .check-label{text-shadow: none; font-size: 20px;}

                              input[type="checkbox"]:checked{background-color: rgb(40, 133, 255);}

                              input[type="checkbox"]:checked ::after{content:""; position: absolute;width: 5px;
                                    height: 10px; border-right:2px solid white ; border-bottom: 2px solid white;
                                     transform: rotate(45deg); left: 6px; top: 2px;}  

                                     nav{display: flex; justify-content: left; align-items:left; gap: 2px;
                                   padding: 15px; background-color:#222; position: sticky; top: -10px; z-index: 1000;
                              margin-bottom: 20px;}

                                     .new{font-weight: bold;}

                                     nav a{display: inline-block; padding: 0px 2px; position: relative;}

                                     nav a::after{content: ""; position: absolute; width: 0; height: 2px; 
                                        background-color:rgb(255, 255, 255); bottom: 0; left: 50%; transform: translateX(-50%);
                                         transition: width 0.4s ease;} 

                                         nav a:hover::after{width: 100%;}

                                         nav{transform: translateY(10px);}

                                         .product h3{display: none;}

                                         nav{border-radius: 10px;}

                                         .asli{border-radius: 10px; background-color: rgb(17, 17, 17); box-shadow: 0 10px 8px gray;}

                                         

                                         nav{box-shadow: 0 10px 8px gray;}

                                         @media(max-width: 600px) {nav{gap:10px;padding: 12px 8px; flex-wrap: wrap;}
                                          nav a{font-size: 15px; padding: 6px 8px;}} 

                                          .product{min-width: 200px;}

                                          textarea{width: 91%; max-width: 100%; box-sizing: border-box; resize: vertical;}

                                          input[type="text"]{width: 91%; max-width: 100%; box-sizing: border-box; 
                                             resize: vertical; height: 25px;}


                                         nav a{backdrop-filter: blur(10px);}
                                         
                                         .menu{backdrop-filter: blur(10px);}

                                         nav{border-bottom: 5px solid rgb(0, 0, 0); border-right: 3px solid black;}

                                         nav{border-top: 5px solid rgb(0, 0, 0); border-left: 3px solid black;}
                                         
                                         .asli{border: 3px solid rgb(255, 255, 255); box-sizing: border-box;
                                             height: 180px; min-height: 180px; max-height: 190px;}

                                         
                                        nav{padding-inline: 10px; padding-block: 15px; margin-block: 5px;}

                                        p a{white-space: nowrap;}

                                        .second-title{word-spacing: 3px; font-style: italic; font-variant: small-caps;}

                                        .menu{background-image: linear-gradient(90deg, rgb(128, 1, 128, 0.9),rgb(240, 0, 0, 0.9) );}

                                        .mahsool :nth-child(4){background-image: url("delta.webp");
                                             background-repeat: no-repeat; background-attachment: fixed; background-blend-mode: multiply;
                                        background-size:cover; background-position: center; background-origin: border-box;
                                         background-clip:border-box;}
 
                                        
                                         .hero{background:linear-gradient(to right, white, rgb(255, 185, 185)); padding: 10px 20px; text-align: center; font-weight: bold;
                                        transform: translateY(20px); border: 4px solid black; border-radius: 10px; cursor: default;
                                   box-shadow: 2px 10px 8px gray; position: relative; min-height: 70vh; display: flex; flex-direction: column;
                              justify-content: center; align-items: center; text-align: center;}  

                                        .hero h1{font-size: 45px; font-weight: 700; letter-spacing: 1px; margin-bottom: 10px;
                                              color: rgb(117, 31, 31);cursor: default;}

                                        .first ::after{content: ""; display: block ; width:auto; height: 3px;
                                              margin: auto; background-color: rgb(117, 31, 31);}

                                              .hero a{text-decoration: none;}

                                              p a{font-size: 35px;}

                                              
                                              .hero-btn{display: inline-block; background:linear-gradient(to right,
                                                   rgb(255, 104, 104),rgb(255, 190, 190)); color: rgb(73, 0, 0);
                                             text-decoration: none; border: 5px solid rgb(0, 0, 0); border-radius: 25px; transition: 0.3s ease;
                                        width: 250px;}

                                        .hero-btn:hover{transform: scale(1.03);} 

                                        .hero::before{content: ""; position: absolute; inset: 0;
                                              background:linear-gradient( to right,red, transparent); opacity: 0.2;}

                                        .hero h1{position: relative; z-index:1;}
                                        .hero h2{position: relative; z-index:1;}
                                        .hero p{position: relative; z-index:1;}
                                        .hero-btn{position: relative; z-index:1;}
                                        .hero a{position: relative; z-index:1;}

                                        @media(max-width: 600px) {.hero{min-height: 60vh;} .hero h1{font-size: 32px;}
                                         .hero p{font-size: 16px;} .hero h2{font-size: 22px;}}

                                        

                                        